/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* html reset */

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}


/* header */ 

.container-fluid {
    padding-top: 0;
    margin: 0;
    
}

.nav-link:hover {
    color: #f3ac3a;
    font-weight: 600;
}


.nav-font-color {
    color: #F5F5DC;
    font-family: "Poppins";
}

.nav-btn-font {
    color: #000000;
    font-family: "Poppins";
    font-weight: 600;
}

.nav-btn { 
    background-color: #F39C12;
    margin-right: 10px;
}

.nav-btn:hover {
    background-color: #f3ac3a;
}


.nav-btn:hover:active {
    background-color: #66CDAA;
}

.navbar-bg  {
    background-color: #C0392B;
    
}

.nav-btn-margin {
    margin-right: 10px;
}

.nav-right-side {
    margin-left: 20px;
    gap: 20px;
}

.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F39C12;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    
}


.dropdown-icons-wrapper {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.dropdown-item {
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
}

.arrow-img {
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F39C12;
    width: 190px;
    height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 150px;
    transition: opacity 0.3s ease;
    border-radius: 0 0 5px 5px;
}

.dropdown-content-header {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
}

.dropdown-content-footer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.dropdown-content a {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    width: 130px;
}

.dropdown-content hr {
    width: 190px;
}

.profile-btn {
    font-family: 'Poppins';
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 8px;
}   

/* main content */

main {
    padding: 20px;
}

/* first section */

.main-title-container {
    margin-top: 40px;
}

.main-title {
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    margin-left: 10px;
}

.first-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}

.first-part img {
    height: 630px;
    width: 850px;
}

.first-part p {
    width: 450px;
    height: 400px;
    text-align: left;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.5em;
    
}

/* second section */

.second-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 10px;
}

.second-part img {
    height: 600px;
    width: 850px;
}

.second-part p {
    width: 450px;
    height: 400px;
    text-align: left;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 1.5em;
}

/* compromises section */

.compromises-title-container {
    margin-top: 90px;
}

.compromises-title-container h4 {
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
}

.compromises {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}

.compromises img {
    height: 150px;
}

.compromises-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.compromises-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-top: 50px;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.footer-text-wrapper {
    display: flex;
    flex-direction: column;
    
}

.footer-text {
    margin-left: 20px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    gap: 130px;
}



.facebook {
    height: 55px;
}

.instagram {
    height: 55px;
}

.tiktok {
    height: 55px;
}


@media (min-width: 200px) and (max-width: 1200px) {

    .main-title {
        text-align: center;
    }

    .first-part {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .first-part img {
        width: 100%;
        height: auto;
    }

    .first-part p {
        width: 100%;
        height: auto;
    }

    .second-part {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .second-part img {
        width: 100%;
        height: auto;
    }

    .second-part p {
        width: 100%;
        height: auto;
    }

    .compromises {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .compromises img {
        width: 120px;
    }

    .compromises-title-container h4 {
        text-align: center;
    }

    .footer-icons-container {
        gap: 10px;
        margin-right: 0;
    }

    .footer-container {
        flex-direction: column;
        height: 230px;
    }

    .footer-text-wrapper {
        align-items: center;
        justify-content: center;
    }

    .footer-text {
        font-size: 18px;
    }

    .footer-icons-container {
        gap: 40px;
        margin-bottom: 20px;
    }

}