@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.container-fluid {
    padding-top: 0;
    margin: 0;
    
}

.nav-link:hover {
    color: #f3ac3a;
    font-weight: 600;
}


.nav-font-color {
    color: #F5F5DC;
    font-family: "Poppins";
}

.nav-btn-font {
    color: #000000;
    font-family: "Poppins";
    font-weight: 600;
}

.nav-btn { 
    background-color: #F39C12;
}

.nav-btn:hover {
    background-color: #f3ac3a;
}

.nav-btn:hover:active {
    background-color: #66CDAA;
}

.navbar-bg  {
    background-color: #C0392B;
    
}

.nav-btn-margin {
    margin-right: 0.732vw;
}

.nav-right-side {
    margin-left: 1.464vw;
    gap: 1.464vw;
}

.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F39C12;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    
}

.dropdown-icons-wrapper {
    display: flex;
    gap: 0.732vw;
    margin-right: 5px;
}

.arrow-img {
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F39C12;
    width: 190px;
    height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 150px;
    transition: opacity 0.3s ease;
    border-radius: 0 0 5px 5px;
}

.dropdown-content-header {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
}

.dropdown-content-footer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.dropdown-content a {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    width: 130px;
}

.dropdown-item {
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
}

.dropdown-content hr {
    width: 190px;
}

.profile-btn {
    font-family: 'Poppins';
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 8px;
}   

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.search-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-image: url('/static/imgs/background-pattern.svg');
    background-size: cover;
    padding: 4.392vw;
    align-items: center;
    width: 100%;
}

.main-title {
    font-size: 3.75em;
    color: #000000;
    font-family: 'Poppins';
    
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 58.565vw;
    margin-top: 50px;
}

.input-title-container {
    width: 58.565vw;
}

.input-title {
    color: #A04000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size:18px;
}

#input-box {
    background-color: rgba(177, 180, 181, 0.69);
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 90px;
    width: 800px;
    font-size: 30px;
    color: #000000;
    font-family: 'Poppins';
    font-weight: 500;
}

.search-btn {
    margin-top: 40px;
    width: 330px;
    background-color: #117A65;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}

.search-btn:hover {
    background-color: #408d7e;
    color: #FFFFFF;
}

.search-btn:hover:active {
    background-color: #D35400;
    color: #FFFFFF;
}

.search-btn:hover::after {
    background-color: #D35400;
    color: #FFFFFF;
}

.arrow-decor {
    position: relative;
    left: -400px;
    top: -110px;
}

.info-text {
    position: relative;
    left: -360px;
    top: -140px;
    width: 300px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #000000;
    font-size: 17px;
    
}

.logo-img {
    position: relative;
    right: -390px;
    top: -330px;
    height: 200px;
    width: 200px;
    margin-bottom: 0;
}

.second-title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid #B1B4B5;
    border-bottom: 1px solid #B1B4B5;
    margin-top: -250px;
    width: 100%;
    height: 100px;
    color: #000000;
}

.tutorial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    height: auto;
    
}

.tutor-image-wrapper {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.tutor-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-right: 40px;
    margin-top: 25px;
}

.tutor-image {
    height: 270px;
    width: 290px;
}

.step-img-container {
    display: flex;
    width: 270px;
    margin-left: 10px;
}

.step-text-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.step-title {
    font-family: 'Poppins';
    font-weight: 600;
    color: #000000;
}

.step-info {
    color: #000000;
    font-family: 'Poppins';
}

.page-divider {
    border-top: 1px solid #B1B4B5;
    width: 90%;
    height: 50px;
}

.plan-title-container {
    justify-content: left;
    width: 90%;
}

.plan-section-title {
    font-family: 'Poppins';
    color: #000000;
    font-weight: 600;
    font-size: 37px;

}

.plan-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.time-btn-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 20px;
}

.plan-time-btn {
    background: none;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    color: #F39C12;
    font-size: 18px;
}

.active-time-btn {
    color: #D35400;
}

.plan-cards-container {
    background-color: #FFFFBF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border: 1px solid #B1B4B5;
    border-radius: 6px;
    width: 1090px;
    height: 470px;
}

.plan-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 10px;
    border-left: 1px solid #B1B4B5;
    height: 470px;
    width: 363.3px;
}

.left-card {
    border-left: none;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 333px;
    color: #000000;
    font-family: 'Poppins';
}

.card-text-container h4 {
    font-size: 20px;
}

.card-text-container .tempo {
    font-size: 20px;
}

.card-text-container .price {
    font-size: 26px;
}

.perk_list {
    list-style: none;
    margin-left: -30px;
    margin-top: 20px;
}

.selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.selection-container img {
    height: 80px;
    width: 70px;
}

.selection-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F39C12;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    height: 30px;
}

.selection-container a:hover {
    background-color: #ebac47;
}

.selection-container a:hover:active {
    background-color: #D35400;
    color: #FFFFFF;
}

.about-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    margin-top: 40px;

}

.about-banner-container img {
    width: 100%;
    height: 70px;
}

.highlights-title-container {
    justify-content: left;
    width: 90%;
    margin-top: 40px;
}

.highlights-section-title {
    font-family: 'Poppins';
    color: #000000;
    font-weight: 600;
    font-size: 37px;
}

.highlights-section-wrapper {
    display: flex;
    flex-direction: column;
}

.highlights-header-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.highlights-header-container a {
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
}

.highlights-header-container h4 {
    font-family: 'Poppins';
    font-weight: 400;
    color: #000000;
}

.highlights-imgs-container{
    width: 100%;
}

.ingredients-title-container {
    justify-content: left;
    width: 90%;
    margin-top: 40px;
}

.ingredients-section-title {
    font-family: 'Poppins';
    color: #000000;
    font-weight: 600;
    font-size: 37px;
}

.ingredients-section-wrapper {
    width: 90%;
    height: 200px;
}

.ingredients-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    width: 100%;
    height: 200px;
    
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    width: 250px;
}

.option-name {
    font-family: 'Poppins';
    width: 100px;
    margin-top: 5px;
    text-decoration: none;
    color: #000000;
}

.margin-top {
    margin-top: 52px;
}

.ingredients-options-container img {
    width: 100px;
}



.footer-container {
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-top: 50px;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.footer-text-wrapper {
    display: flex;
    flex-direction: column;
    
}

.footer-text {
    margin-left: 20px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    gap: 130px;
}



.facebook {
    height: 55px;
}

.instagram {
    height: 55px;
}

.tiktok {
    height: 55px;
}

/* media queries */

@media (max-width: 600px) {
    /* Estilos para smartphones em modo retrato */

    


}


@media (min-width: 600px) and (max-width: 768px) {
    /* Estilos para tablets em modo retrato */
}


@media (min-width: 768px) and (max-width: 992px) {
    /* Estilos para tablets em modo paisagem e laptops pequenos */
   

   
    
}

@media (min-width: 200px) and (max-width: 1200px) {

    .input-container {
        width: 100%;
        
    }

    .input-title-container {
        width: 100%;
    }

    #input-box {
        width: 100%;
    }

    .main-title {
        text-align: center;
    }


    .logo-img {
        display: none;
    }

    .arrow-decor {
        display: none;
    }

    .info-text {
        display: none;
    }

    .second-title-container {
        margin-top: 0;
    }

    .tutorial-container {
        margin-top: -240px;
        width: 90%;
    }

    .tutor-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .tutor-image {
        height: 450px;
        width: 55.747vw;
    }

    .step-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        width: 87.747vw;
    }

    .step-text-container {
        width: 97%;
        margin-left: 10px;
        text-align: center;
    }

    .step-title {
        font-size: 2.875em;
    } 

    .step-info {
        font-size: 24px;
        font-weight: 500;
    }

    .page-divider {
        margin-top: 60px;
    }

    .time-btn-container {
        display: flex;
        flex-direction: row;
        gap: 5.464vw;
    }

    .plan-time-btn {
        font-size: 22px;
    }


    .plan-cards-container {
        flex-direction: column;
        width: 90.603vw;
        height: auto;
        
    }

    .plan-card {
        border-top: 1px solid #B1B4B5;
        width: 90.603vw;
        height: 600px;
        padding-top: 20px;
    }

    .left-card {
        border-top: none;
    }

    .card-text-container h3 {
        font-size: 32px;
    }


    .price {
        font-size: 26px;
    }

    .card-text-container {
        font-size: 22px;
    }

    .perk {
        font-size: 22px;
    }

    .perk_list {
        margin-bottom: 20px;
    }

    .selection-container {
        margin-top: 100px;
    }

    .about-banner-container img {
        width: 100%;
    }

    .highlights-section-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .highlights-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36.603vw;
    }

    .highlights-section-title{
        text-align: center;
    }

    .highlights-header-container {
        flex-direction: column;
        width: 90%;
    }

    .ingredients-options-container {
        justify-content: center;
        align-items: center;
        width: 140%;
        padding: 0.732vw;
    }

    .ingredients-section-wrapper {
        align-items: center;
        justify-content: center;
        overflow: scroll;
        height: 250px;
    }

    .footer-icons-container {
        gap: 10px;
        margin-right: 0;
    }

    .footer-container {
        flex-direction: column;
        height: 230px;
    }

    .footer-text-wrapper {
        align-items: center;
        justify-content: center;
    }

    .footer-text {
        font-size: 18px;
    }

    .footer-icons-container {
        gap: 40px;
        margin-bottom: 20px;
    }
}
