@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    padding: 0;
    margin: 0;
    background-color: #E5E7E9;
}

.container-fluid {
    padding-top: 0;
    margin: 0;
    
}

.nav-font-color {
    color: #F5F5DC;
    font-family: "Poppins";
}

.nav-btn-font {
    color: #000000;
    font-family: "Poppins";
    font-weight: 600;
}

.nav-link:hover {
    color: #f3ac3a;
    font-weight: 600;
}


.nav-btn { 
    background-color: #F39C12;
}

.nav-btn:hover {
    background-color: #f3ac3a;
}


.nav-btn:hover:active {
    background-color: #66CDAA;
}

.navbar-bg  {
    background-color: #C0392B;
    
}

.nav-btn-margin {
    margin-right: 10px;
}

.nav-right-side {
    margin-left: 20px;
    gap: 20px;
}

main {  
    display: flex;
    
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    height: 650px;
    width: 609px;
}

.divider {
    border: none;   
    height: 2px;          
    background-color: #117A65;
    margin: 20px 0;
    width: 100%; 
    opacity: 100;
    margin-top: 40px; 
}

.form-title {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
}

.title-container {
    justify-content: left;
    align-items: center;
    height: 40px;
    width: 400px;
    display: flex;
    text-align: left;
}

.form-logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.signup-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    height: 47px;
    width: 160px;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #375659;
    font-family: "Inter";
}


.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A04000;
    margin-top: 20px;
    height: 50px;
    width: 160px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px;
    font-family: "Inter";
}

.login-btn:hover {
    background-color: #ca6e31;
    color: #FFFFFF;
}

.login-btn:hover:active {
    background-color: #C0392B;
    color: #FFFFFF;
}

.signup-btn:hover {
    background-color: #117A65;
    color: #FFFFFF;
}

.signup-btn:hover:active {
    background-color: #A04000;
    color: #FFFFFF;
}

.input {
    height: 58px;
    width: 400px;
    border: 1px solid #B2B8C4;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins';
    
}

.input::placeholder {
    opacity: 40%;
}

.input-title {
    margin-bottom: 5px;
    font-family: "Poppins";
}

.form-item-container {
    margin: 10px;
}

.login-container {
    margin-top: 15px;
}

.btn-google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 300px;
}

.btn-google:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.google-icon {
    height: 35px;
    width: 90px;
    border-right: solid 1px rgba(0, 0, 0, 0.5);
}

.google-icon:active {
    border-right: solid 1px #000000;
}

.google-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
}

.login-text {
    color: #000000;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
}

.login-link {
    color: #A04000;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-top: 70px;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.footer-text-wrapper {
    display: flex;
    flex-direction: column;
    
}

.footer-text {
    margin-left: 20px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    gap: 130px;
}



.facebook {
    height: 55px;
}

.instagram {
    height: 55px;
}

.tiktok {
    height: 55px;
}


@media (min-width: 200px) and (max-width: 1200px) {

    .form-container {
        width: 50%;
    }

    .title-container {
        width: 80%
    }

    .form-input-container {
        width: 80%;
    }

    .form-item-container {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .footer-icons-container {
        gap: 10px;
        margin-right: 0;
    }

    .footer-container {
        flex-direction: column;
        height: 230px;
    }

    .footer-text-wrapper {
        align-items: center;
        justify-content: center;
    }

    .footer-text {
        font-size: 18px;
    }

    .footer-icons-container {
        gap: 40px;
        margin-bottom: 20px;
    }

}

@media (min-width: 500px ) {
    
    .form-container {
        width: 80%;
    }
}

@media (max-width: 700px) {

    .form-container {
        width: 80%;
    }

    .footer-container {
        margin-top: 130px;
        
    }
}

@media (min-width: 1000px) {
    .form-container {
        width: 50%;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
    }
}