/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* html reset */

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* header */ 

.container-fluid {
    padding-top: 0;
    margin: 0;
    
}

.nav-link:hover {
    color: #f3ac3a;
    font-weight: 600;
}


.nav-font-color {
    color: #F5F5DC;
    font-family: "Poppins";
}

.nav-btn-font {
    color: #000000;
    font-family: "Poppins";
    font-weight: 600;
}

.nav-btn { 
    background-color: #F39C12;
}

.nav-btn:hover {
    background-color: #f3ac3a;
}

.nav-btn:hover:active {
    background-color: #66CDAA;
}

.navbar-bg  {
    background-color: #C0392B;
    
}

.nav-btn-margin {
    margin-right: 10px;
}

.nav-right-side {
    margin-left: 20px;
    gap: 20px;
}

.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F39C12;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    
}


.dropdown-icons-wrapper {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.arrow-img {
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F39C12;
    width: 190px;
    height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 150px;
    transition: opacity 0.3s ease;
    border-radius: 0 0 5px 5px;
}

.dropdown-content-header {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
}

.dropdown-content-footer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.dropdown-content a {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    width: 130px;
}

.dropdown-content hr {
    width: 190px;
}

.profile-btn {
    font-family: 'Poppins';
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 8px;
} 

/* main content */

main {
    display: flex;
    flex-direction: column;
    height: 206vh;
    padding-top: 20px;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.main-image {
    height: 200px;
    width: 200px;
}

.recipe-search-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.recipe-search-container span {
    font-family: 'Poppins';
}

input[type="search"] {
    display: flex;
    align-items: center;
    background-color: rgba(177, 180, 181, 0.5);
    width: 100%;
    padding: 10px;  
    padding-left: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-top: -20px;
}

.search-btn {
    position: relative;
    left: 10px;
    top: 20px;
    border: none;
    background: none;
}

.recipes-container {
    margin-top: 30px;
}

.ingredients-title-container {
    justify-content: left;
    width: 1060px;
    margin-top: 40px;
}

.ingredients-section-title {
    font-family: 'Poppins';
    color: #000000;
    font-weight: 600;
    font-size: 37px;
}

.ingredients-section-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
}

.ingredients-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    width: 1060px;
    height: 150px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    width: 250px;
}

.option-name {
    font-family: 'Poppins';
    width: 100px;
    margin-top: 5px;
    text-decoration: none;
    color: #000000;
}

.margin-top {
    margin-top: 52px;
}

.ingredients-options-container img {
    width: 100px;
}

.search-container {
    display: flex;
    flex-direction: column;
    height: 540px;
    background-image: url('/static/imgs/background-pattern.svg');
    background-size: cover;
    padding: 60px;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.main-title {
    font-size: 60px;
    color: #000000;
    font-family: 'Poppins';
    
}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
    margin-top: 50px;
}

.input-title-container {
    width: 800px;
}

.input-title {
    color: #A04000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size:18px;
}

#input-box {
    background-color: rgba(177, 180, 181, 0.69);
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 90px;
    width: 800px;
    font-size: 30px;
    color: #000000;
    font-family: 'Poppins';
    font-weight: 500;
}

.bottom-search-btn {
    margin-top: 40px;
    width: 330px;
    background-color: #117A65;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}

.bottom-search-btn:hover {
    background-color: #408d7e;
    color: #FFFFFF;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: row;
    height: 120px;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 8px;
}

.footer-text-wrapper {
    display: flex;
    flex-direction: column;
    
}

.footer-text {
    margin-left: 20px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    gap: 130px;
}



.facebook {
    height: 55px;
}

.instagram {
    height: 55px;
}

.tiktok {
    height: 55px;
}