{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <!--Bootstrap5 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!--Local CSS-->
    <link rel="stylesheet" href="{% static 'styles/aboutUs.css' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-bg">
        <div class="container-fluid nav-right-side">
          <a href="{% url 'home' %}"><img src="{% static 'imgs/Logo.svg' %}" alt="Logo" class="nav-logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link nav-font-color" aria-current="page" href="{% url 'about' %}">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-font-color" href="{% url 'contato' %}">Contato</a>
              </li>
            </ul>

            {% if user.is_authenticated %}
            <!-- Menu para usuários logados com dropdown de perfil -->
            <div class="dropdown-container" id="dropdown-container">
              <a href="{% url 'perfil' %}" class="profile-btn">Meu Perfil</a>
              <div class="dropdown-icons-wrapper">
                <img src="{% static 'imgs/user-empty-pfp.svg' %}" alt="profile picture" class="profile-img">
                <img src="{% static 'imgs/down-arrow.svg' %}" alt="down arrow" class="arrow-img" id="dropdown-toggle">
              </div>
              <div class="dropdown-content" id="dropdown-content">
                <div class="dropdown-content-header">
                  <a href="{% url 'perfil' %}">Meu perfil</a>
                  <a href="#">Minhas receitas</a>
                  <a href="#">Assinatura</a>
                </div>
                <hr>
                <div class="dropdown-content-footer">
                  <form id="logout-form" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Sair</button>
                  </form>
                </div>
              </div>
            </div>
            {% else %}
            <!-- Menu para usuários deslogados -->
            <a href="{% url 'login' %}" class="nav-link nav-font-color nav-btn-margin">Iniciar sessão</a>
            <a class="btn nav-btn-font nav-btn" href="{% url 'signup' %}">Começar Gratuitamente</a>
            {% endif %}
          </div>
        </div>
      </nav>
</header>

    <main>
        <div class="main-title-container">
            <h1 class="main-title">Sobre nós</h1>
        </div>

        <section class="first-part">
          <img src="{% static 'imgs/kitchen-pic.svg' %}" alt="">
          <p>O BiteWise é dedicado a ajudar os usuários a criar receitas deliciosas com facilidade, utilizando ingredientes do dia a dia. Nossa equipe acredita no poder da cozinha simples para trazer alegria a cada lar. Com paixão pela comida e pela comunidade, nos esforçamos para tornar a culinária acessível a todos.</p>
        </section>

        <section class="second-part">
          <p>No BiteWise, estamos comprometidos em fornecer as melhores receitas personalizadas para os ingredientes que você já tem em casa. Nossa equipe utiliza inteligência artificial da OpenAI para gerar receitas criativas e práticas, tornando a culinária acessível e descomplicada. Junte-se a nós nessa jornada culinária e descubra como é fácil cozinhar com o BiteWise.</p>
          <img src="{% static 'imgs/squid-pic.svg' %}" alt="">
        </section>

        <div class="compromises-title-container">
          <h4>Nosso compromisso com a qualidade</h4>
        </div>

        <section class="compromises">
          <img src="{% static 'imgs/SSL-secure.svg' %}" alt="">
          <img src="{% static 'imgs/ABRAS.svg' %}" alt="">
          <img src="{% static 'imgs/openai.svg' %}" alt="">
          <img src="{% static 'imgs/fabrica-inovacao.svg' %}" alt="">
          </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
          <div class="footer-text-wrapper">
            <span class="footer-text">© 2024 BiteWise. Todos os direitos reservados.</span>
            <span class="footer-text">Tel: (19) 99999-9999 </span>
            <span class="footer-text">bitewise.contato@email.com</span>
          </div>
          <div class="footer-icons-container">
            <a href="#"><img src="{% static 'imgs/facebook.svg' %}" alt="faceboo" class="facebook"></a>
            <a href="#"><img src="{% static 'imgs/instagram.svg' %}" alt="instagram" class="instagram"></a>
            <a href="#"><img src="{% static 'imgs/TikTok.svg' %}" alt="tiktok" class="tiktok"></a>
          </div>
        </div>
      </footer>

      <script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>