<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!-- templates/busca.html -->
<form method="POST" action="{% url 'buscar_regras' %}">
    {% csrf_token %}
    <label for="ingredientes">Digite os ingredientes separados por vírgula:</label>
    <input type="text" name="ingredientes" id="ingredientes">
    <button type="submit">Buscar Receitas</button>
</form>

</head>
<body>
    
</body>
</html>