{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" type="imagex/png" href="{% static 'imgs/bitewise_icon.ico' %}">
    <!--Bootstrap5 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!--Local CSS-->
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-bg">
        <div class="container-fluid nav-right-side">
          <a href="{% url 'home' %}"><img src="{% static 'imgs/Logo.svg' %}" alt="Logo" class="nav-logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link nav-font-color" aria-current="page" href="{% url 'about' %}">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-font-color" href="{% url 'contato' %}">Contato</a>
              </li>
            </ul>

            {% if user.is_authenticated %}
            <!-- Menu para usuários logados com dropdown de perfil -->
            <div class="dropdown-container" id="dropdown-container">
              <a href="{% url 'perfil' %}" class="profile-btn">Meu Perfil</a>
              <div class="dropdown-icons-wrapper">
                <img src="{% static 'imgs/user-empty-pfp.svg' %}" alt="profile picture" class="profile-img">
                <img src="{% static 'imgs/down-arrow.svg' %}" alt="down arrow" class="arrow-img" id="dropdown-toggle">
              </div>
              <div class="dropdown-content" id="dropdown-content">
                <div class="dropdown-content-header">
                  <a href="{% url 'perfil' %}">Meu perfil</a>
                  <a href="#">Minhas receitas</a>
                  <a href="{% url 'perfil' %}">Assinatura</a>
                </div>
                <hr>
                <div class="dropdown-content-footer">
                  <form id="logout-form" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Sair</button>
                  </form>
                </div>
              </div>
            </div>
            {% else %}
            <!-- Menu para usuários deslogados -->
            <a href="{% url 'login' %}" class="nav-link nav-font-color nav-btn-margin">Iniciar sessão</a>
            <a class="btn nav-btn-font nav-btn" href="{% url 'register' %}">Começar Gratuitamente</a>
            {% endif %}
          </div>
        </div>
      </nav>
</header>

    <main>
      <div class="search-container">
        <h1 class="main-title">A sua receita perfeita em instantes.</h1>
        <div class="input-container">
            <!-- Formulário inicia aqui e engloba todos os campos e o botão -->
            <form action="{% url 'buscar_receita' %}" method="get" class="input-form">
                <div class="input-title-container">
                    <p class="input-title">Escreva aqui seus ingredientes:</p>
                </div>
                <!-- Campo de entrada e botão de submissão estão dentro do <form> -->
                <input type="text" id="input-box" name="ingredientes" required>
                <button class="btn search-btn" type="submit">Busque sua receita</button>
            </form>
        </div>
        <img src="{% static 'imgs/arrow.svg' %}" alt="" class="arrow-decor">
        <span class="info-text">Digite os ingredientes que você tem em casa, e deixe que fazemos a mágica para você!</span>
        <img src="{% static 'imgs/Logo2.svg' %}" alt="" class="logo-img">
        <div class="second-title-container">
            <h1>Como o BiteWise funciona?</h1>
        </div>
    </div>
    

        <div class="tutorial-container">
          <div class="tutor-image-wrapper">
            <div class="tutor-image-container">
              <div class="step-img-container">
                <img src="{% static 'imgs/tutor-image1.svg' %}" alt="" class="tutor-image">
              </div>
              <div class="step-text-container">
                <h3 class="step-title">Passo 1</h3>
                <p class="step-info">Digite seus ingredientes. Encontre receitas que combinam perfeitamente com o que você tem.</p>
              </div>
            </div>
      
            <div class="tutor-image-container">
              <div class="step-img-container">
                <img src="{% static 'imgs/tutor-image2.svg' %}" alt="" class="tutor-image">
              </div>
              <div class="step-text-container">
                <h3 class="step-title">Passo 2</h3>
                <p class="step-info">Explore receitas e escolha sua favorita. Prepare-se para cozinhar uma refeição deliciosa</p>
              </div>
            </div>

            <div class="tutor-image-container">
              <div class="step-img-container">
                <img src="{% static 'imgs/tutor-image3.svg' %}" alt="" class="tutor-image">
              </div>
              <div class="step-text-container">
                <h3 class="step-title">Passo 3</h3>
                <p class="step-info">Siga os passos da receita. Desfrute do seu prato feito em casa, e com a orientação do BiteWise.</p>
              </div>
            </div>
          </div>
        </div>

      <div class="page-divider"></div>

      <div class="plan-title-container">
        <h2 class="plan-section-title">Escolha seu plano</h2>
      </div>

      <section class="plan-section-wrapper">
        <div class="time-btn-container">
          <button class="plan-time-btn active-time-btn" data-plan="mensal">Mensal</button>
          <button class="plan-time-btn" data-plan="anual">Anual</button>
          <button class="plan-time-btn" data-plan="vitalicio">Vitalício</button>
        </div>
        
        <div class="plan-cards-container">
          <div class="plan-card left-card">
            <div class="card-text-container">
              <h3>Grátis</h3>
              <p>Experimente antes de comprar.</p>
              <h4>R$ <span class="price" data-plan="gratis">0,00</span> <span class="tempo">/mês</span></h4>

              <ul class="perk_list">
              <li class="perk">Armazenar 20 receitas</li>
              <li class="perk">3 livros de cozinha</li>
              <li class="perk">3 receitas de IA por mês</li>
              <li class="perk">1 lista de compras com artigos limitados</li>
              </ul>
            </div>

            <div class="selection-container">
              <img src="{% static 'imgs/Logo2.svg' %}" alt="">
              <a href="#" class="btn">Começar</a>
            </div>
          </div>

          <div class="plan-card">
            <div class="card-text-container">
              <h3>Plus</h3>
              <p>Organize todas as suas receitas.</p>
              <h4>R$ <span class="price" data-plan="plus">5,99</span> <span class="tempo">/mês</span></h4>

              <ul class="perk_list">
                <li class="perk">Receitas ilimitadas</li>
                <li class="perk">Livros de cozinha ilimitados</li>
                <li class="perk">10 receitas de IA por mês</li>
                <li class="perk">Lista de compras ilimitadas</li>
              </ul>
            </div>

            <div class="selection-container">
              <img src="{% static 'imgs/Logo2.svg' %}" alt="">
              <a href="#" class="btn">Começar</a>
            </div>
          </div>

          <div class="plan-card">
            <div class="card-text-container">
              <h3>Pro</h3>
              <p>Incríveis funcionalidades de IA.</p>
              <h4>R$ <span class="price" data-plan="pro">9,99</span> <span class="tempo">/mês</span></h4>

              <ul class="perk_list">
                <li class="perk">Receitas ilimitadas</li>
                <li class="perk">Livros de cozinha ilimitados</li>
                <li class="perk">Receitas de IA ilimitadas</li>
                <li class="perk">Lista de compras ilimitadas</li>
                <li class="perk">Melhor modelo de IA</li>
                <li class="perk">Analisar os nutrientes</li>
                <li class="perk">Preferências gerais de IA</li>
              </ul>
            </div>

            <div class="selection-container">
              <img src="{% static 'imgs/Logo2.svg' %}" alt="">
              <a href="#" class="btn">Começar</a>
            </div>
          </div>
        </div>
      </section>

      <div class="about-banner-container">
        <a href="{% url 'about' %}"><img src="{% static 'imgs/Aboutus-Banner.svg' %}" alt=""></a>
      </div>

      <div class="highlights-title-container">
        <h2 class="highlights-section-title">Destaques da semana</h2>
      </div>

      <section class="highlights-section-wrapper">
        <div class="highlights-header-container">
          <h4>Explore facilidades e delícias para o seu dia a dia!</h4>
          <a href="#">Mais receitas</a>
        </div>

        <div class="container highlights-imgs-container">
          <div class="row ">
            <div class="col-4 mt-4">
              <img src="{% static 'imgs/Itália-img.svg' %}" alt="Itália" class="img-fluid">
            </div>
            <div class="col-4 mt-4">
              <img src="{% static 'imgs/Airfryer-img.svg' %}" alt="Airfryer" class="img-fluid">
            </div>
            <div class="col-4 mt-4">
              <img src="{% static 'imgs/Japonesa-img.svg' %}" alt="Japonesa" class="img-fluid">
            </div>
            <div class="col-4 mt-4">
              <img src="{% static 'imgs/LowCarb-img.svg' %}" alt="LowCarb" class="img-fluid">
            </div>
            <div class="col-4 mt-4">
              <img src="{% static 'imgs/Mexico-img.svg' %}" alt="Mexico" class="img-fluid">
            </div>
            <div class="col-4 mt-4">
              <img src="{% static 'imgs/Fit-img.svg' %}" alt="Fit" class="img-fluid">
            </div>
          </div>
        </div>
      </section>

      <div class="ingredients-title-container">
        <h2 class="ingredients-section-title">Receitas com</h2>
      </div>

      <section class="ingredients-section-wrapper">
        <div class="ingredients-options-container">
          <div class="ingredients-slider">
          <div class="option margin-bottom">
          <a href="#"><img src="{% static 'imgs/BiteWise-option.svg' %}" alt=""></a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Frango' %}"><img src="{% static 'imgs/chicken-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Frango' %}" class="option-name">frango</a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Beringela' %}"><img src="{% static 'imgs/eggplant-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Beringela' %}" class="option-name">Berinjela</a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Shimeji' %}"><img src="{% static 'imgs/shimeji-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Shimeji' %}" class="option-name">Shimeji</a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Salmao' %}"><img src="{% static 'imgs/salmon-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Salmao' %}" class="option-name">Salmão</a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Carne Moida' %}"><img src="{% static 'imgs/mincedMeat-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Carne Moida' %}" class="option-name ">Carne Moida</a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Abobora' %}"><img src="{% static 'imgs/pumpkin-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Abobora' %}" class="option-name">abóbora</a>
          </div>
          <div class="option">
            <a href="{% url 'detalhes_ingrediente' 'Batata Doce' %}"><img src="{% static 'imgs/sweetPotato-option.svg' %}" alt=""></a>
            <a href="{% url 'detalhes_ingrediente' 'Batata Doce' %}" class="option-name">Batata Doce</a>
          </div>
          <div class="option">
            <a href="#"><img src="{% static 'imgs/more-options.svg' %}" alt=""></a>
            <a href="#" class="option-name "> Mais opções</a>
          </div>
        </div>
      </div>
      </section>
      
    </main>

    

    <footer>
      <div class="footer-container">
        <div class="footer-text-wrapper">
          <span class="footer-text">© 2024 BiteWise. Todos os direitos reservados.</span>
          <span class="footer-text">Tel: (19) 99999-9999 </span>
          <span class="footer-text">bitewise.contato@gmail.com</span>
        </div>
        <div class="footer-icons-container">
          <a href="#"><img src="{% static 'imgs/facebook.svg' %}" alt="faceboo" class="facebook"></a>
          <a href="#"><img src="{% static 'imgs/instagram.svg' %}" alt="instagram" class="instagram"></a>
          <a href="#"><img src="{% static 'imgs/TikTok.svg' %}" alt="tiktok" class="tiktok"></a>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/prices.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>