{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" type="imagex/png" href="{% static 'imgs/bitewise_icon.ico' %}">
    <!--Bootstrap5 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!--Local CSS-->
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-bg">
            <div class="container-fluid nav-right-side">
              <a href="{% url 'home' %}"><img src="{% static 'imgs/Logo.svg' %}" alt="Logo" class="nav-logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item ">
                    <a class="nav-link nav-font-color" aria-current="page" href="{% url 'about' %}">Sobre nós</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-font-color" href="{% url 'contato' %}">Contato</a>
                  </li>
                </ul>
                <a href="{% url 'login' %}" class="nav-link nav-font-color nav-btn-margin">Iniciar sessão</a>
                <a class="btn nav-btn-font nav-btn" href="{% url 'register' %}">Começar Gratuitamente</a>
              </div>
            </div>
          </nav>
    </header>

    <main>
      <div class="form-container">
          <img src="{% static 'imgs/Logo2.svg' %}" alt="form-logo" class="form-logo">
          <div class="title-container">
              <h1 class="form-title">Login</h1>
          </div>
          <!-- Formulário de login que envia uma requisição POST -->
          <form method="POST" class="form-input-container">
              {% csrf_token %}
              <div class="form-item-container">
                  <p class="input-title">E-mail</p>
                  <input type="text" name="username" class="input" placeholder="Digite seu E-mail">
              </div>
              <div class="form-item-container">
                  <p class="input-title">Senha</p>
                  <input type="password" name="password" class="input" placeholder="Digite sua senha">
              </div>
              <div class="signup-btn-container">
                  <button type="submit" class="btn login-btn">Entrar</button>
                  <a class="btn signup-btn" href="{% url 'register' %}">Cadastre-se</a>
              </div>
              
              
          </form>
          <hr class="divider"> 
          <form action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-google">
              <img src="{% static 'imgs/google-icon.svg' %}" alt="google-icon" class="google-icon">
              <span class="google-text">Ou entre com o Google</span> 
            </button>
            
        </form>
      </div>
  </main>
  
      <footer>
        <div class="footer-container">
          <div class="footer-text-wrapper">
            <span class="footer-text">© 2024 BiteWise. Todos os direitos reservados.</span>
            <span class="footer-text">Tel: (19) 99999-9999 </span>
            <span class="footer-text">bitewise.contato@gmail.com</span>
          </div>
          <div class="footer-icons-container">
            <a href="#"><img src="{% static 'imgs/facebook.svg' %}" alt="faceboo" class="facebook"></a>
            <a href="#"><img src="{% static 'imgs/instagram.svg' %}" alt="instagram" class="instagram"></a>
            <a href="#"><img src="{% static 'imgs/TikTok.svg' %}" alt="tiktok" class="tiktok"></a>
          </div>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>